<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Host gallery</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="mainBox">
      <div class="box">
        <div class="containerImg">
          <img src="/img/ImageOne.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/ImageTwo.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/ImageTree.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/ImageFour.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/ImageFive.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/ImageSix.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/ImageSeven.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/ImageEight.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat11.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat12.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat13.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat14.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat15.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat16.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat17.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat18.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat19.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat20.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat21.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="cat/cat22.png">
        </div>
      </div>
    </div>
  </body>
</html>
